name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Verify dependencies
      run: go mod verify

    #- name: Run Tests
    #  run: go test -v ./...

    - name: Build
      run: go build -v -o terminal-wingman ./cmd
